@tailwind base;
@tailwind components;
@tailwind utilities;

#hero-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.hero-content {
  position: relative;
  z-index: 2;
}

.str-chat__channel {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #c9e8c9, #b7e7bb);
  height: 100%;
}

.str-chat__container {
  max-width: 1200px;
  width: 100%;
  height: 80% !important;
  margin: 0 auto !important;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.str-chat__list {
  background-color: #ffffff;
  padding: 12px;
}

.str-chat__list-notifications {
  display: none;
}

.str-chat__message-input {
  border-top: 1px solid #ddd;
}
